.bar {
  fill: rgba(83, 64, 45, .9);
  stroke: #80254D;
  stroke-width: 6;
}

.unhovered {
  fill: rgba(83, 64, 45, .3);
}

.hovered {
  fill: rgba(83, 64, 45, 1);
}

.label {
  fill: #F5EFF3;
  text-anchor: end;
  pointer-events: none;
}

#axis text {
  font-family: sans-serif;
  font-size: 14px;
}

.title {
  font-family: sans-serif;
  font-size: 30px;
  text-anchor: middle;
}

#tooltip p{
  font-family: cursive;
}
