rect {
  stroke: rgba(0, 0, 0, 0.7);
  fill: rgba(11, 38, 158, 0.555);
}

rect:hover {
  fill: rgba(18, 156, 30, 0.9);
}

.clicked {
  fill: rgba(102, 77, 128, 0.85);
  background-color: #4CAF50; /* Green */
}

#sort_controls p {
  display: inline-block;
}

#display_controls p {
  display: inline-block;
}

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: rgba(102, 77, 128, 0.85);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}


.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-family: sans-serif;
  font-size: 14px;
}

.title {
  font-family: 'Bradley Hand';
  font-size: 32px;
  text-anchor: middle;
}

.label {
  fill: #F5EFF3;
  text-anchor: end;
  pointer-events: none;
}


